<div>
  <div>
    <a href="/fact/{{fact.id}}">
      <h3 id="{{fact.id}}">{{fact.id}}</h3>
    </a>
    <h4>{{fact.fact_text}}</h4>
  </div>

  <div>
    <h3>Add A Comment</h3>
    <div>
      <form>
        <input type="text" />
        <button>Submit</button>
        <p>{{fact.id}}</p>
      </form>
    </div>
  </div>

</div>

<script src="/js/comment.js"></script>